Config.psd1
Launch.ps1
Script/LaunchUpdate-GithubTemplates.bat
Templates/Outlook/_ReadMe_HowToEditSignatures.docx
Templates/Outlook/.DS_Store
Templates/Outlook/~$eaMe_HowToEditSignatures.docx
Templates/Outlook/~$W_DaraghBannigan_Short_Default.htm
Templates/Outlook/Default.aspx
Templates/Outlook/footers.doc
Templates/Outlook/signature - Copy.dwt
Templates/Outlook/signature.dwt
Templates/Outlook/~$eadMe_HowToEditSignatures.docx
Templates/Outlook/task.txt
Templates/Outlook/SSW_JerwinParker_Short_Default_files/Copy of Xamarin Hack Day presenter template.png
Templates/Outlook/zzTxtFiles
