<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<!-- #BeginTemplate "signature.dwt" -->

<head>
<meta http-equiv="Content-Language" content="en-au" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- #BeginEditable "doctitle" -->
<title>Regards</title>
<!-- #EndEditable -->
<style type="text/css">
a:hover, a.link:hover {
	color: #fd1912;
}
.signature {
	font-size: 12px;
	font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
}
.footer h4 {
	padding: 3px;
	background-color: #EEEEEE;
	border-top: 2px solid #fd1912;
	font-weight: normal;
	font-size: 12px;
}
.footer {
	color: #333333;
}
.footer li {
	margin-top: 15px;
	list-style-type: square;
	font-size: 11px;
}
.employeeName {
	font-weight: bold;
}
</style>
</head>

<body>

<div class="signature">
	<div class="employeedetails">
		<p>Regards,</p>
		<!-- #BeginEditable "Employee Details" -->
		<p>
			<span class="employeeName">Ron Maman</span> | <span class="employeePosition">SSW Software Architect</span> | Sydney, Australia | Phone: +(61) 2 9953 3000 | Mobile: +61 415 291 089<br/>
			
			</p>
			<!-- #EndEditable --></div>
	<div class="footer">
		<h4><strong>&nbsp; SSW</strong> Building better Microsoft Solutions in .NET and SharePoint 2010</h4>
		<ol>
			<li>News: Currently in the USA training TFS, SharePoint and Scrum - <a href="http://bit.ly/dJENOz">www.ssw.com.au/psd</a>
			</li>
		</ol>
	</div>
	<p>&nbsp;</p>
</div>

</body>

<!-- #EndTemplate -->

</html>

</html>
