<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<!-- #BeginTemplate "signature.dwt" -->

<head>
<meta http-equiv="Content-Language" content="en-au" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- #BeginEditable "doctitle" -->
<title>Regards</title>
<!-- #EndEditable -->
<style type="text/css">
a:hover, a.link:hover {
	color: #fd1912;
}
.signature {
	font-size: 12px;
	font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
}
.footer h4 {
	padding: 3px;
	background-color: #EEEEEE;
	border-top: 2px solid #fd1912;
	font-weight: normal;
	font-size: 12px;
}
.footer {
	color: #333333;
}
.footer li {
	margin-top: 15px;
	list-style-type: square;
	font-size: 11px;
}
.employeeName {
	font-weight: bold;
}
</style>
</head>

<body>

<div class="signature">
	<div class="employeedetails">
		<p>Regards,</p>
		<!-- #BeginEditable "Employee Details" -->
		<p>
			<span class="employeeName">Khadijeh Banihashem</span><br />
			<span class="employeePosition">Software Developer</span><br />
			<span class="employeeContact">Phone: (61)4 7803 8915</span>
			</p>
			<!-- #EndEditable --></div>
	
</div>

</body>

<!-- #EndTemplate -->

</html>
